/* ------------Generelt----------------- */
* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* 
.index {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  margin-bottom: 2vw;
}

.index > section {
  grid-column: 2 / 3;
} */

/* ------------Skrift----------------- */

h1 {
  font-family: craw-modern-urw, serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(3rem, 2.1429rem + 3.8095vw, 5rem);
  color: #ffdf00;
  text-align: center;
}

h2 {
  font-family: basic-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  color: #ebe0c6;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-family: basic-sans, sans-serif;
  font-style: normal;
  font-weight: 200;
}

h4 {
  font-family: basic-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
}

p {
  font-family: basic-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
}

/* ------------header----------------- */

header {
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 10vh;
  position: relative;
}

.menuknap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid gray; */
}

.menuknap_burger {
  width: 30px;
  height: 2px;
  background: #231709;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before,
.menuknap_burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #231709;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before {
  transform: translateY(-10px);
}

.menuknap_burger::after {
  transform: translateY(10px);
}

/* -----header animation---- */

.menuknap.open .menuknap_burger {
  transform: translateX(50px);
  background: transparent;
}

.menuknap.open .menuknap_burger::before {
  transform: rotate(45deg) translate(-35px, 35px);
}

.menuknap.open .menuknap_burger::after {
  transform: rotate(-45deg) translate(-35px, -35px);
}

.hidden {
  opacity: 0;
  transform: translateY(-100vw);
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  background-color: rgba(208, 186, 154, 0.6);
  text-align: right;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 100%;
  width: 100%;
}

#menu li a {
  font-family: basic-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  color: #231709;
  font-size: 10px;
  margin-right: 1rem;
}

/* ------------Forside----------------- */

#forside {
  background-color: #9e7654;
}

#forside h1 {
  margin-top: 15rem;
}

.pink_box {
  width: 50%;
  height: 30vh;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-template-rows: auto;
}

#forside a {
  width: 30px;
  height: 30px;
  margin: 10px;
  grid-column: 2;
}

#forside a:hoover {
  transform: scale(0.5);
}

#forside .start {
  display: none;
}

/* Forside Layout- */
#forside .first_section {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 2.9fr 0.5fr 0.5fr 1.4fr 1fr;
}

#forside .first_section h1 {
  grid-column: 1 / 5;
  grid-row: 2;
  margin: 0;
  position: relative;
  z-index: 3;
}

#forside .first_section h2 {
  grid-column: 1 / 5;
  grid-row: 3;
  position: relative;
  z-index: 2;
}

.first_section img {
  grid-column: 2;
  grid-row: 2 / 5;
  position: relative;
  width: 100%;
}

#forside .first_section .logo {
  grid-column: 4;
  grid-row: 5;
}

/* ------------about----------------- */

/* ------------Media----------------- */

@media (min-width: 700px) {
  #forside {
    background-color: #d0ba9a;
  }

  #forside .first_section {
    background-color: #9e7654;
    margin-left: 35vw;
    margin-right: 15vw;
    box-shadow: 5px 0px 5px 0px rgba(94, 84, 68, 0.79);
  }

  #forside .start {
    display: initial;
    width: 30vw;
    float: left;
    margin-left: 1vw;
    margin-top: 10vw;
  }

  #forside .start h2 {
    font-family: craw-modern-urw, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: #ebe0c6;
    text-align: left;
  }

  #forside .start h3 {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
    color: #ebe0c6;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

@media (min-width: 800px) {
  #forside .start {
    width: 25vw;
  }

  #forside .start h2 {
    font-size: 3rem;
  }

  #forside .start h3 {
    font-size: 1rem;
  }
}

@media (min-width: 900px) {
  #forside .first_section {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 2.8fr 0.5fr 0.5fr 1.4fr 1fr;
  }
}

@media (min-width: 1200px) {
  #forside .first_section {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 2.6fr 0.5fr 0.5fr 1.4fr 1fr;
  }
}
