/* ------------Generelt----------------- */
* {
  box-sizing: border-box;
  margin: 0;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

.index {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
  margin-bottom: 2vw;
}

.index > section {
  grid-column: 2 / 3;
  margin-top: 40px;
}

/* ------------Skrift----------------- */

h1 {
  font-family: craw-modern-urw, serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(3rem, 2.6rem + 3.2vw, 4rem);
  color: #ffdf00;
  text-align: center;
  position: relative;
  z-index: 2;
}

h1 a {
  color: #ffdf00;
}

h2 {
  font-family: bebas-neue;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  font-size: 1rem;
  text-align: left;
  color: #ebe0c6;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-family: bebas-neue;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.6rem, 0.2667rem + 1.3333vw, 1.1rem);
  color: #333333;
}

h4 {
  font-family: basic-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
}

p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #604d3b;
}

li {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  margin-top: 5px;
}

/* ------------header----------------- */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: right;
  align-items: center;
  min-height: 10vh;
  position: relative;
  z-index: 1;
}

header p a {
  color: #604d3b;
  grid-column: 1;
  margin: 5px;
}

header p a:hover {
  color: #ffdf00;
}

.menuknap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid gray; */
  grid-column: 3;
}

.menuknap_burger {
  width: 30px;
  height: 2px;
  background: #231709;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before,
.menuknap_burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #231709;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menuknap_burger::before {
  transform: translateY(-10px);
}

.menuknap_burger::after {
  transform: translateY(10px);
}

/* -----header animation---- */

.menuknap.open .menuknap_burger {
  transform: translateX(50px);
  background: transparent;
}

.menuknap.open .menuknap_burger::before {
  transform: rotate(45deg) translate(-35px, 35px);
}

.menuknap.open .menuknap_burger::after {
  transform: rotate(-45deg) translate(-35px, -35px);
}

.hidden {
  opacity: 0;
  transform: translateY(-100vw);
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  background-color: rgba(208, 186, 154, 0.6);
  text-align: right;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 100%;
  width: 100%;
}

#menu li a {
  font-family: basic-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #231709;
  font-size: 10px;
  margin-right: 1rem;
}
/* ------------Footer----------------- */
footer ul {
  justify-content: space-between;
  text-decoration: none;
  display: flex;
  margin: 15px;
  padding: 0;
}
footer li {
  list-style-type: none;
}

footer li a {
  list-style-type: none;
  color: #604d3b;
}

footer li a:hover {
  list-style-type: none;
  color: #ffdf00;
}

/* ------------Forside----------------- */

#forside {
  background-color: #9e7654;
}

#forside h1 {
  margin-top: 15rem;
}

.pink_box {
  width: 50%;
  height: 30vh;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-template-rows: auto;
}

#forside a {
  width: 30px;
  height: 30px;
  margin: 10px;
  grid-column: 2;
}

#forside a:hoover {
  transform: scale(0.5);
}

#forside .start {
  display: none;
}

/* Forside Layout- */
#forside .first_section {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 2.9fr 0.5fr 0.5fr 1.4fr 1fr;
}

#forside .first_section h1 {
  grid-column: 1 / 5;
  grid-row: 2;
  margin: 0;
  position: relative;
  z-index: 3;
}

#forside .first_section h2 {
  grid-column: 1 / 5;
  grid-row: 3;
  position: relative;
  z-index: 2;
  text-align: center;
  font-weight: 100;
}

.first_section img {
  grid-column: 2;
  grid-row: 2 / 5;
  position: relative;
  width: 100%;
}

#forside .first_section .logo {
  grid-column: 4;
  grid-row: 5;
}

/* ------------about----------------- */

/* ------------anden----------------- */

.side {
  display: initial;
  width: 20vw;
  float: left;
  margin-left: 1vw;
  margin-top: 5vw;
}

.side h2 {
  font-family: craw-modern-urw, serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(5rem, 3.5rem + 8vw, 7rem);
  color: #ebe0c6;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 0;
}

#indhold .first_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: repeat(6, 1fr) 0.4fr 0.5fr repeat(6, 1fr);
  gap: 10px;
  margin-bottom: 10vw;
}

#indhold .first_section h2 a {
  font-size: clamp(1.1rem, -0.625rem + 6vw, 2rem);
  color: #ebe0c6;
}

#indhold .first_section h2 a:hover {
  color: #604d3b;
}

#indhold article {
  margin-top: 10px;
}

#indhold figure {
  display: block;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  background: pink;
  filter: sepia(0.3);
}

#indhold figure:hover {
  opacity: 1;
}

.one {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

.two {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
}

.three {
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.four {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.five {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.six {
  grid-column: 1 / 3;
  grid-row: 6 / 8;
}

.seven {
  grid-column: 1 / 5;
  grid-row: 9;
}

.eight {
  grid-column: 1 / 5;
  grid-row: 10;
}

.nine {
  grid-column: 1 / 5;
  grid-row: 11;
}

.ten {
  grid-column: 1 / 5;
  grid-row: 12;
}

.elleven {
  grid-column: 1 / 5;
  grid-row: 13;
}

/* ------------tema_02----------------- */

#tema .first_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#tema .first_section img {
  z-index: -1;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

#tema .first_section h1 {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  font-size: 4rem;
  color: #d0ba9a;
}

#tema section {
  margin: 8px;
}

#tema h2 {
  color: #604d3b;
  font-size: 2rem;
  margin-top: 4vw;
}

#tema h3 {
  color: #604d3b;
  font-size: 1.5rem;
  margin-top: 5px;
}

#tema p {
  color: #333333;
}

#tema section a {
  font-style: italic;
  color: #333333;
}

#tema section a:hover {
  font-style: italic;
  color: #f9de10;
}

/* ------------Media----------------- */

@media (min-width: 700px) {
  /* første sektion */

  #forside h1 {
    font-size: 2.4rem;
  }

  #forside {
    background-color: #d0ba9a;
  }

  #forside .first_section {
    background-color: #9e7654;
    margin-left: 35vw;
    margin-right: 15vw;
    box-shadow: 5px 0px 5px 0px rgba(94, 84, 68, 0.79);
  }

  #forside .start {
    display: initial;
    width: 30vw;
    margin-left: 1vw;
    margin-top: 10vw;
    float: left;
  }

  #forside .start h2 {
    font-family: craw-modern-urw, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.9rem;
    color: #ebe0c6;
    text-align: left;
  }

  #forside .start h3 {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: left;
    color: #ebe0c6;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  /* ------------tema_02----------------- */

  #tema .first_section h1 {
    font-size: 7rem;
  }
  #tema .second_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin: 10px;
    margin-top: 45px;
  }

  #tema h2 {
    margin-top: 0;
  }
  #tema .four_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
  }

  #tema .fourth_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
  }

  #tema .third_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
  }

  #tema .fourth_section img {
    height: 70vh;
  }
  #tema .fifth_section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  #tema .fifth_section img {
    height: 30vh;
    width: auto;
  }

  /* #tema .hej {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
  }

  #tema .hej video {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  #tema .hej h1 {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    font-size: 7rem;
  }
  #tema .hej h2 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    padding-top: 10vw;
  }
  #tema .hej h3 {
    grid-column: 1 / 3;
    grid-row: 4;
    width: 10ch;
  }
  #tema .hej p {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }
  #tema .hej img {
    grid-column: 3 / 6;
    grid-row: 3;
  } */
}

@media (min-width: 800px) {
  #forside h1 {
    font-size: clamp(2rem, -6rem + 16vw, 4rem);
  }

  #forside .start {
    width: 25vw;
  }

  #forside .start h2 {
    font-size: 2rem;
  }

  #forside .start h3 {
    font-size: 1rem;
  }

  /* anden sektion */

  .side {
    display: initial;
    width: 20vw;
    float: left;
    margin-left: 10vw;
    margin-top: 5vw;
  }

  .side h2 {
    font-size: clamp(3rem, -1rem + 12.8vw, 7rem);
    padding-right: 5vw;
  }

  #indhold .first_section {
    display: grid;
    grid-template-columns: 2fr 2.5fr 1fr 1fr;
    grid-auto-rows: repeat(11, 1fr);
    gap: 10px;
    margin-right: 30px;
    margin-bottom: 10vw;
  }

  #indhold .first_section h2 a {
    font-size: clamp(1.7rem, -0.3rem + 4vw, 2.2rem);
    color: #ebe0c6;
  }

  #indhold article {
    margin-top: 30px;
  }

  .one {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .two {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .three {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
  }

  .four {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .five {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .six {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .seven {
    grid-column: 1 / 5;
    grid-row: 6;
  }

  .eight {
    grid-column: 1 / 5;
    grid-row: 7;
  }

  .nine {
    grid-column: 1 / 5;
    grid-row: 8;
  }

  .ten {
    grid-column: 1 / 5;
    grid-row: 9;
  }

  .elleven {
    grid-column: 1 / 5;
    grid-row: 10;
  }

  #indhold figure {
    display: block;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    background: pink;
    filter: sepia(0.3);
  }

  #indhold figure:hover {
    opacity: 1;
  }
  #tema .fourth_section img {
    height: 60vh;
  }
}

@media (min-width: 900px) {
  #forside .first_section {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 2.8fr 0.5fr 0.5fr 1.4fr 1fr;
  }
  #tema .fourth_section img {
    height: 60vh;
  }

  .side h2 {
    padding-right: 7vw;
  }
}

@media (min-width: 1000px) {
  #indhold .first_section h2 a {
    font-size: clamp(2.2rem, -1.8rem + 6.4vw, 3rem);
  }
}

@media (min-width: 1200px) {
  #forside .first_section {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 2.6fr 0.5fr 0.5fr 1.4fr 1fr;
  }

  #tema .fourth_section img {
    height: 50vh;
  }
  footer ul {
    margin-left: 11vw;
    margin-right: 11vw;
  }

  #indhold .first_section h2 a {
    font-size: clamp(2.6rem, -2.8rem + 7.2vw, 3.5rem);
  }
}
